annotated-types==0.7.0
attrs==23.2.0
cattrs==23.2.3
certifi==2024.6.2
charset-normalizer==3.3.2
confluent-kafka==2.4.0
docstring_parser==0.16
flatbuffers==24.3.25
idna==3.7
mypy-extensions==1.0.0
openmeteo_requests==1.2.0
openmeteo_sdk==1.11.8
orjson==3.10.5
platformdirs==4.2.2
py4j==0.10.9.7
pydantic==2.7.4
pydantic-settings==2.3.3
pydantic_core==2.18.4
pyspark==3.5.1
python-dotenv==1.0.1
quixstreams==2.6.0
requests==2.32.3
requests-cache==1.2.1
retry-requests==2.0.0
rocksdict==0.3.23
six==1.16.0
typed-argument-parser==1.10.0
typing-inspect==0.9.0
typing_extensions==4.12.2
url-normalize==1.4.3
urllib3==2.2.2
